.H1 {
    font-size:50px;
    margin-bottom:1.5rem;
}

.H2 {
    font-size:30px;
    margin-bottom:1rem;
}

.H3 {
    font-size:20px;
    margin-bottom:0.75rem;
}

.H4 {
    font-size:16px;
    margin-bottom:0.75rem;
}

.H5 {
    font-size:12px;
    margin-bottom:0.5rem;
}

.H6 {
    font-size:10px;
    margin-bottom:0.5rem;
}

.handWritten {
    font-family: 'Caveat';
}