@font-face {
    font-family: "Exo 2";
    src: url("./fonts/Exo2-Medium.otf");
    font-style: normal;
}
@font-face {
    font-family: "Caveat";
    src: url("./fonts/Caveat-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100%;
    background-color: rgb(187, 222, 251);   /* = bg-blue-100 */

}


canvas {
  margin-left: auto;
  margin-right: auto;
}

label span{
  color: rgb(118, 118, 118);
}

button.warning:hover{
    cursor: url("src/assets/icon/warning.png"), pointer;
}


.liked:hover{
    cursor: url("src/assets/icon/thumbs-down.png"), pointer;
}

.notliked:hover{
    cursor: url("src/assets/icon/thumbs-up.png"), pointer;
}
